{% load static %}
{% load i18n %}
<style media="screen"> /* css styling to suppress default colours on button */
#link{
  text-decoration:  none;
  color: inherit;
}
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="card shadow p-3 mb-5 bg-light-grey rounded" style="width: 25rem; background: #bfbfbf;">
          <img src="{% static 'imgs/CargoFulPigeon.png' %}" width="200" height="40" class="d-inline-block align-top">
          <div class="card-body">
          Ya casi acabamos, {{username}} <br>
          Por favor da click en el boton debajo de este mensaje para verificar tu dirección de correo.
          Una vez que hayas verificado tu dirección de correo y subido los documentos necesarios a la plataforma, podrás empezar a cargar con Cargoful.  <br> <br>
          Estamos listo para viajar juntos - ¡Venga! <br>
          Tu equipo en Cargoful.  <br><br>
          Tienes alguna duda? Escríbenos a help@cargoful.org
          </div>
        </div>

      </div>
      <div class="row justify-content-center">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-secondary" >
               <a id="link" href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}" >{% trans "Verifica mi correo" %}</a>
           </button>
        </div>
      </div>
    </div>
  </body>
</html>
{% load i18n %}
