{% load static %}

<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <title>CargoFul</title>

 <!-- Loading static files -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

 <body class="c-app">
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="d-flex flex-grow-1">
           <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
           <a class="navbar-brand" href="#">
             <img src="/static/imgs/CargoFulPigeon.png" width="200" height="40" class="d-inline-block align-top"
           </a>
           <div class="d-flex flex-row-reverse text-right">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                   <span class="navbar-toggler-icon"></span>
               </button>
           </div>
       </div>
   </nav>

    {% block content%}
    {% endblock %}

 <!-- Popper.js first, then CoreUI JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
 </body>
</html>
