{% load static %}
{% load i18n %}


<!doctype html>
<html lang="en">
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- CoreUI CSS -->
   <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
   <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">
   <title>Cargoful</title>

   <!-- Loading static files -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- Confirmation page boilerplate starts here -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
  <style>
    #map {
      height: 500px;
      width: 65%;
    }
    .marker {
      background-size: cover;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
    .mapboxgl-popup {
      max-width: 200px;
    }
    .mapboxgl-popup-content {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
    html, body {
    height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
    }
    .content {
      flex: 1 0 auto;
    }
    .footer {
      flex-shrink: 0;
    }
  </style>
  <!-- Confirmation page boilerplate ends here -->
</head>

<!-- New Code Starts -->
<body class="c-app">
  <!-- SideBar Starts -->
  <div class="c-sidebar c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-lg-down-none pt-1">
      <a class="navbar-brand" href="/shipper">
        <img src="{% static 'imgs/CargoFulPigeon.png' %}" width="200" height="40" class="d-inline-block align-top">
      </a>
    </div>

    <ul class="c-sidebar-nav">
      <li class="c-sidebar-nav-item mt-4">
        <a class="c-sidebar-nav-link" href="/shipper/">
          <i class="c-sidebar-nav-icon cil-home"></i> {% trans "My Orders" %}
        </a>
      </li>

      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/shipper/past_orders">
          <i class="c-sidebar-nav-icon cil-history"></i> {% trans "Past Orders" %}
        </a>
      </li>

      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/shipper/connection_requests">
          <i class="c-sidebar-nav-icon cil-truck"></i> {% trans "My Truckers" %}
        </a>
      </li>

      <li class="c-sidebar-nav-divider"></li>
      <li class="c-sidebar-nav-title">{% trans "Help" %}</li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/comms/contact">
          <i class="c-sidebar-nav-icon cil-envelope-closed"></i> {% trans "Contact Us" %}
        </a>
      </li>

    </ul>
  </div>
  <!-- Sidebar Ends -->

  <div class="c-wrapper c-fixed-components">
    <header class="c-header c-header-light c-header-fixed">
      <!-- Header content here -->
      <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
        <i class="c-sidebar-nav-icon cil-menu"></i>
      </button>
      <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
        <i class="c-sidebar-nav-icon cil-menu"></i>
      </button>

      <form class="form-inline" action = "search_truckers" method = "POST">
        {% csrf_token %}
        <div class="form-group col-sm-10 col-lg-10">
          <input class="form-control shadow bg-white ml-3" type="search" name = "query" placeholder="{% trans 'Search Truckers' %}" aria-label="Search" size="30"/>
        </div>
        <input type = 'submit' style="display: none;">
      </form>

      <ul class="c-header-nav ml-auto mr-4">
        <li class="c-header-nav-item mx-2"><a class="c-header-nav-link" href="/shipper/notifications">
            {% if num_notifications > 0 %}
            <svg class="bi bi-exclamation-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
              <path d="M7.002 11a1 1 0 112 0 1 1 0 01-2 0zM7.1 4.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 4.995z"/>
            </svg>
            {% else %}
            <i class="c-sidebar-nav-icon cil-bell"></i>
            {% endif %}
        </li>

        <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <div class="cil-user"></div>
        </a>
          <div class="dropdown-menu dropdown-menu-right pt-0">
            <div class="dropdown-header bg-light py-2"><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></div>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="#">
            <i class="c-sidebar-nav-icon cil-file mr-2 mb-2"></i> {% trans "Documents" %}</a> -->

            <a class="dropdown-item" href="{% url 'logout' %}">
            <i class="c-sidebar-nav-icon cil-account-logout mr-2 mb-2"></i> {% trans "Logout" %}</a>
            <a class="dropdown-item" href="{% url 'edit_profile' %}">
            <i class="c-sidebar-nav-icon cil-contact mr-2 mb-2"></i> {% trans "Profile" %}</a>
          </div>
        </li>
      </ul>
    </header>

    <div class="c-body">
      <main class="c-main">
        <!-- Main content here -->
        {% block content%}
        {% endblock %}
      </main>
    </div>

    <footer class="c-footer">
      <!-- Footer Content -->
      <div>Cargoful &copy; 2020</div>
      <div class="ml-auto"><i class="c-sidebar-nav-icon cif-mx"></i></div>
      <!-- <div class="ml-auto">{% trans "Disrupting Mexican Logistics" %} </div> -->
    </footer>
  </div>
  <!-- Popper.js first, then CoreUI JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>

  </body>
</html>
