{% extends 'shipper/base.html'%}

{% block content %}
<div class="container">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h1>Confirm Order</h1>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div id='map'></div>
  </div>

  <form action = 'order_placed' method = "post">
    {% csrf_token %}

    <div class="row justify-content-center mt-4">
      <div class="col-4">
        <h5>Pickup Address</h5>
        <input class = 'form-control' id = 'addy' value = '{{pu_addy}}' size = '60' disabled = 'true'/>
      </div>
      <div class="col-4">
        <h5>Delivery Address</h5>
        <input class = 'form-control' id = 'addy' value = '{{del_addy}}' size = '60' disabled = 'true'/>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-4">
        <h5>Pickup Date</h5>
        <input class = 'form-control' id = 'date' name="pickup_date" type="date" value = {{date}} size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>Pickup Time</h5>
        <input class = 'form-control' id = 'time' name="pickup_time" type="time" value = {{time}} size = '60' readonly/>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-4">
        <h5>Truck Type</h5>
        <input class = 'form-control' id = 'truck_type' name="truck_type" type="text" value = "{{truck}}" size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>Price</h5>
        <input class = 'form-control' id = 'price' name="price" type="number" step="0.01" value = {{price}} size = '60' readonly/>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-4">
        <h5>Contents</h5>
        <input class = 'form-control' id = 'contents' name="contents" type="text" value = "{{cargo}}" size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>Instructions</h5>
        <input class = 'form-control' id = 'instructions' name="instructions" type="text" value = "{{instruct}}" size = '60' readonly/>
      </div>
    </div>


    <!-- distance of order + lat and lng for pickup and delivery (hidden from user) -->
    <tr>
      <td class = 'widefield'><input class = 'field' id = 'pu_lat' name = 'pickup_latitude' type = 'number' value = {{pu_lat}} hidden = 'true' readonly></td>
      <td class = 'widefield'><input class = 'field' id = 'pu_long' name = 'pickup_longitude' type = 'number' value = {{pu_long}} hidden = 'true' readonly></td>
      <td class = 'widefield'><input class = 'field' id = 'del_lat' name = 'delivery_latitude' type = 'number' value = {{del_lat}} hidden = 'true' readonly></td>
      <td class = 'widefield'><input class = 'field' id = 'del_long' name = 'delivery_longitude' type = 'number' value = {{del_long}} hidden = 'true' readonly></td>
      <td class = 'widefield'><input class = 'field' id = 'distance' name = 'distance' type = 'number' value = {{distance}} hidden = 'true' readonly></td>
    </tr>

      <!-- <input type="submit" value="Confirm Order"> -->

    <div class="row justify-content-center mb-5 mt-5">
      <div class="btn-group">
        <div class="col-5">
          <a href="/shipper" type="button" class="btn btn-danger" aria-pressed="true">Cancel</a>
        </div>
        <div class="col-5">
          <button type="submit" class="btn btn-success">Confirm</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicmZpdGNoIiwiYSI6ImNrN3dqdTYwYjAzNzUzZm85NXRreXo0bTcifQ.SNWvUpiNG9Q7EAQakLFsbw';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: [{{mid_long}}, {{mid_lat}}],
  zoom: 3
});

// code from the next step will go here!

var geojson = {
  type: 'FeatureCollection',
  features: [{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [{{pu_long}}, {{pu_lat}}]
    },
    properties: {
      title: 'Pickup Location',
      description: '{{pu_addy}}'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [{{del_long}}, {{del_lat}}]
    },
    properties: {
      title: 'Delivery Location',
      description: '{{del_addy}}'
    }
  }]
};

// add markers to map
geojson.features.forEach(function(marker) {

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
    .addTo(map);
});
</script>

{% endblock %}
