{% extends 'shipper/base.html'%}
{% load static %}
{% load i18n %}

{% block content %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h3>{% trans "Confirm Order" %}</h3>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div id='map'></div>
    <div id = 'mark1' style='background-image: url("{% static "imgs/CargoFulLogo-12.png" %}");'></div>
    <div id = 'mark2' style='background-image: url("{% static "imgs/CargoFulLogo-12.png" %}");'></div>
  </div>

  <form action = 'order_placed' method = "post" enctype = "multipart/form-data">
    {% csrf_token %}

    <div class="row justify-content-center mt-4">
      <div class="col-8">
        <h5>{% trans "Pickup Address" %}</h5>
        <input class = 'form-control' id = 'addy' name = 'pickup_address' type = 'text' value = '{{pu_addy}}' size = '60' readonly>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-8">
        <h5>{% trans "Delivery Address" %}</h5>
        <input class = 'form-control' id = 'addy' name = 'delivery_address' type = 'text' value = '{{del_addy}}' size = '60' readonly>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-4">
        <h5>{% trans "Pickup Date" %}</h5>
        <input class = 'form-control' id = 'date' name="pickup_date"  {% if date == "" %} value = "" placeholder = "{% trans 'Negotiable' %}" {% else %}value = {{date}} {% endif %} size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>{% trans "Pickup Time" %}</h5>
        <input class = 'form-control' id = 'time' name="pickup_time" {% if time == "" %} value = "" placeholder = "{% trans 'Negotiable' %}" {% else %}type="time" value = {{time}} {% endif %} size = '60' readonly/>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-4">
        <h5>{% trans "Truck Type" %}</h5>
        <input class = 'form-control' id = 'truck_type' name="truck_type" type="text" value = "{{truck}}" size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>{% trans "Price" %}</h5>
        <input class = 'form-control' id = 'price' name="price" type="number" step="0.01" value = {{price}} size = '60' readonly/>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class = "col-4">
        <h5>{% trans "Weight (Tons)" %}</h5>
        <input class = "form-control" id = 'weight' name = 'weight' type = "number" step = "0.01" value = {{weight}} size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>{% trans "Contents" %}</h5>
        <input class = 'form-control' id = 'contents' name="contents" type="text" value = "{{cargo}}" size = '60' readonly/>
      </div>
    </div>

    <div class = "row justify-content-center mt-3">
      <div class="col-4">
        <h5>{% trans "Instructions" %}</h5>
        <input class = 'form-control' id = 'instructions' name="instructions" type="text" value = "{{instruct}}" size = '60' readonly/>
      </div>
    </div>

    <!-- <div class="row justify-content-center mt-4">
      <div class="col-4">
        <h5>Recurrence Type</h5>
        <input class = 'form-control' id = 'recurrence_type' name="recurrence_type" type="text" value = "{{recurrence_type}}" size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>Add rec info?</h5>
        <input class = 'form-control' id = 'instructions' name="instructions" type="text" value = "{{instruct}}" size = '60' readonly/>
      </div>
    </div> -->

    <!-- distance of order + lat and lng for pickup and delivery (hidden from user) -->
    <!-- distance of order + lat and lng for pickup and delivery (hidden from user) -->
      <tr>
        <td class = 'widefield'><input class = 'field' id = 'pu_lat' name = 'pickup_latitude' type = 'number' value = {{pu_lat}} hidden = 'true' readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'pu_long' name = 'pickup_longitude' type = 'number' value = {{pu_long}} hidden = 'true' readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'del_lat' name = 'delivery_latitude' type = 'number' value = {{del_lat}} hidden = 'true' readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'del_long' name = 'delivery_longitude' type = 'number' value = {{del_long}} hidden = 'true' readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'distance' name = 'distance' type = 'number' value = {{distance}} hidden = 'true' readonly></td>
        <!-- recurrence option and indicator (1 if recurrence was checked else 0) -->
        <!-- <td class = 'widefield'><input class = 'field' id = 'distance' name = 'recurrence_indicator' type = 'text' value = {{recurrence_indicator}} hidden = 'true'  style = "display : none" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'distance' name = 'option' type = 'text' value = {{option}} hidden = 'true'  style = "display : none" readonly></td> -->
        <!-- recurrence end variables -->
        <!-- <td class = 'widefield'><input class = 'field' id = 'rand' name = 'end_opt' type = 'text' value = {{end_opt}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'start_day' type = 'text' value = {{start_day}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'end_by_day' type = 'text' value = {{end_by_day}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'occurrences' type = 'text' value = {{occurrences}} hidden = 'true' style = "display : none;" readonly></td> -->
        <!-- daily variables -->
        <!-- <td class = 'widefield'><input class = 'field' id = 'rand' name = 'every_x_days' type = 'text' value = {{every_x_days}} hidden = 'true' style = "display : none;" readonly></td> -->
        <!-- weekly variables -->
        <!-- <td class = 'widefield'><input class = 'field' id = 'rand' name = 'number_of_weeks' type = 'number' value = {{number_of_weeks}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'weekdays' type = 'number' value = {{weekdays}} hidden = 'true' style = "display : none;" readonly></td> -->
        <!-- monthly variables -->
        <!-- <td class = 'widefield'><input class = 'field' id = 'rand' name = 'every_x_months' type = 'text' value = {{every_x_months}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'day_of_month' type = 'text' value = {{day_of_month}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'day_select_month' type = 'text' value = {{day_select_month}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'weekday_select_month' type = 'text' value = {{weekday_select_month}} hidden = 'true' style = "display : none;" readonly></td> -->
        <!-- yearly variables -->
        <!-- <td class = 'widefield'><input class = 'field' id = 'rand' name = 'day_of_month_year' type = 'text' value = {{day_of_month_year}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'month_select' type = 'text' value = {{month_select}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'day_select_year' type = 'text' value = {{day_select_year}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'month_select2' type = 'text' value = {{month_select2}} hidden = 'true' style = "display : none;" readonly></td>
        <td class = 'widefield'><input class = 'field' id = 'rand' name = 'weekday_select_year' type = 'text' value = {{weekday_select_year}} hidden = 'true' style = "display : none;" readonly></td> -->
      </tr>

      <!-- <input type="submit" value="Confirm Order"> -->

    <div class="row justify-content-center mb-5 mt-5">
      <div class="btn-group">
        <!-- cancel button -->
        <div class="col-5">
          <a href="/shipper" type="button" class="btn btn-danger" aria-pressed="true">{% trans "Cancel" %}</a>
        </div>
        <!-- back and edit order button -->
        <div class="col-5">
          <button type="submit" class = 'btn btn-primary' formaction = "post_order">{% trans "Edit Order" %}</button>
        </div>
        <!-- confirm order button-->
        <div class="col-5">
          <button type="submit" class="btn btn-success">{% trans "Confirm" %}</button>
          <!-- id="confirm_button" data-toggle="modal" data-target="#order_successModal" -->
        </div>
      </div>
    </div>
  </form>
<script>

mapboxgl.accessToken = 'pk.eyJ1IjoicmZpdGNoIiwiYSI6ImNrN3dqdTYwYjAzNzUzZm85NXRreXo0bTcifQ.SNWvUpiNG9Q7EAQakLFsbw';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: [-104.83333, 24.83333],
  zoom: 4
});

// code from the next step will go here!

var geojson = {
  type: 'FeatureCollection',
  features: [{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [{{pu_long}}, {{pu_lat}}]
    },
    properties: {
      title: 'Pickup Location',
      description: '{{pu_addy}}'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [{{del_long}}, {{del_lat}}]
    },
    properties: {
      title: 'Delivery Location',
      description: '{{del_addy}}'
    }
  }]
};

var mark1 = document.getElementById('mark1');
mark1.className = 'marker';
new mapboxgl.Marker(mark1)
  .setLngLat(geojson.features[0].geometry.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
  .setHTML('<h3>' + geojson.features[0].properties.title + '</h3><p>' + geojson.features[0].properties.description + '</p>'))
  .addTo(map);

var mark2 = document.getElementById('mark2');
mark2.className = 'marker';
new mapboxgl.Marker(mark2)
  .setLngLat(geojson.features[1].geometry.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
  .setHTML('<h3>' + geojson.features[1].properties.title + '</h3><p>' + geojson.features[1].properties.description + '</p>'))
  .addTo(map);

function getRoute() {
  var start = [{{pu_long}}, {{pu_lat}}];
  var end = [{{del_long}}, {{del_lat}}];
  var url = 'https://api.mapbox.com/directions/v5/mapbox/driving/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?geometries=geojson&access_token=' + mapboxgl.accessToken;
  // make an XHR request https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest
  var req = new XMLHttpRequest();
  req.open('GET', url, true);
  req.onload = function() {
    var json = JSON.parse(req.response);
    var data = json.routes[0];
    var route = data.geometry.coordinates;
    var geojson2 = {
      type: 'Feature',
      properties: {},
      geometry: {
        type: 'LineString',
        coordinates: route
      }
    };
    console.log(geojson2.geometry.coordinates);
    // if the route already exists on the map, reset it using setData
    if (map.getSource('route')) {
      map.getSource('route').setData(geojson2);
    } else { // otherwise, make a new request
      map.addLayer({
        id: 'route',
        type: 'line',
        source: {
          type: 'geojson',
          data: {
            type: 'Feature',
            properties: {},
            geometry: {
              type: 'LineString',
              coordinates: geojson2.geometry.coordinates
            }
          }
        },
        layout: {
          'line-join': 'round',
          'line-cap': 'round'
        },
        paint: {
          'line-color': '#eb0e8f',
          'line-width': 5,
          'line-opacity': 0.75
        }
      });
    }
  };
  req.send();
}

map.on('load', function() {
  getRoute();
});

</script>

{% endblock %}
