{% extends 'shipper/base.html'%}
{% load static %}
{% load i18n %}
{% block content %}

<!-- Welcome and Successful order messages -->
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <!-- <div class="card shadow p-3 m-2 bg-white rounded" style="width: 25rem;"> -->
    <div class="col-md-8">
      <h4>{{ message }}</h4>
    </div>
  <!-- </div> -->
</div>
{% endif %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <!-- <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 25rem;"> -->
    <div class="col-md-8">
      <h4>{{ message }}</h4>
    </div>
  <!-- </div> -->
</div>
{% endif %}

{% endfor %}
{% endif %}
<!-- messages end here -->

<!-- Pending Account Acceptance Message -->
{% if company.user.profile.is_approved == False %}
<div class="row justify-content-center mt-3">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% trans "Your Account is Pending Approval" %}</h5>
        <p class="card-text">
          {% trans "Reach out if you have any questions: help@cargoful.org" %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- Pending Account Acceptance Message Ends -->


<style>
  #table tbody{
    height: 300px;
    overflow-y: auto;
  }
  #table thead th{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    color: black;
  }
</style>

<!-- <div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <h3>{% trans "My Orders" %}</h3>
  </div>
</div> -->

<!-- <div class="row justify-content-center pt-2">
  <div class="col-md-10">
    <p><b>{% trans "Total Orders" %}: {{set.count}}</b></p>
  </div> -->

  <!-- <div class="col-md-10">
    {% if  company.user.profile.is_approved == True %}
    <a href="/shipper/post_order" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">{% trans "New Order" %}</a>
    {% endif %}
  </div> -->
<!-- </div> -->

<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <h3>{% trans "My Orders" %}</h3>
  </div>
</div>

<div class="row">
  <div class="col-11 ml-auto">
    <p><b>{% trans "Total Orders" %}: {{set.count}}</b></p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-2">
  </div>
  <div class="col-2 ml-auto">
    <a href="/shipper/post_order">
    <svg class="bi bi-plus-circle-fill" width="3.5em" height="3.5em" viewBox="0 0 16 16" fill="rgb(235,5,113)" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
    </svg>
    </a>
  </div>
</div>



<div class="row justify-content-center pt-2" id = 'dashboard'>
<div class="col-md-10">
<div class="card">
<table class="table table-striped" id = 'table'>
  {% if set|length > 0 %}
  <thead>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <tr>
      <th scope = 'col'>{% trans "Order Number" %}</th>
      <th scope = 'col'>{% trans "Pickup Address" %}</th>
      <th scope = 'col'>{% trans "Delivery Address" %}</th>
      <th scope = 'col'>{% trans "Pickup Date" %}</th>
      <th scope = 'col'>{% trans "Distance" %}</th>
      <th scope = 'col'>{% trans "Contents" %}</th>
      <th scope="col">{% trans "Status" %}</th>
      <th scope = "col">{% trans "Trucking Company" %}</th>
      <th scope="col">{% trans "Price" %}</th>
      <th scope = "col">{% trans "Orden de Embarco" %}</th>
    </tr>
  </thead>

  <tbody>
    {% for s in set %}
    <tr>
      <td>{{ s.customer_order_no }}</td>
      <td>{{ s.pickup_address}}</td>
      <td>{{ s.delivery_address }}</td>
      <td>{{ s.pickup_date }}</td>
      <td>{{ s.distance }} KM</td>
      <td>{{ s.contents }}</td>
      <th scope="row">
        {% if s.status == 0 %}
          Pending Approval
        {% elif s.status == 1 %}
          Unassigned
        {% elif s.status == 2 %}
          Booked
        {% elif s.status == 3 %}
          In Transit
        {% elif s.status == 4 %}
          Delivered
        {% elif s.status == 5 %}
          Cancelled
        {% endif %}
      </th>
      <th>
        {% if s.status > 1 and s.status < 5 %}
          {{ s.truck_company.user.profile.company_name}}
        {% else %}
          None
        {% endif %}
      </th>
      <td>{{ s.price }}</td>
      {% if s.orden_de_embarco %}
      <td style = "color:green;">{% trans "Uploaded" %}<img src="{% static 'imgs/green_check.png' %}" alt="" border=3 height=15 width=15></img></td>
      {% else %}
      <td>
        <form action = 'upload_orden_de_embarco' method = 'post' enctype = "multipart/form-data">
          {% csrf_token %}
          <input type = 'number' id = 'order_id' name = 'order_id' value = {{s.id}} hidden = 'true'>
          <input type = "file" id ="orden de embarco" name = "orden_de_embarco" required>
          <div class="row justify-content-center">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-secondary mt-1">{% trans "Upload" %}</button>
            </div>
          </div>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <thead>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <tr>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <td align="center"><h4><b>{% trans "No Orders Posted Yet" %}</b></h4></td>
  </tbody>
  {% endif %}
</table>
</div>
</div>
</div>

{% endblock %}
