{% extends 'shipper/base.html'%}

{% load i18n %}
{% block content %}

<!-- Welcome and Successful order messages -->
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <!-- <div class="card shadow p-3 m-2 bg-white rounded" style="width: 25rem;"> -->
    <div class="col-md-8">
      <h4>{{ message }}</h4>
    </div>
  <!-- </div> -->
</div>
{% endif %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <!-- <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 25rem;"> -->
    <div class="col-md-8">
      <h4>{{ message }}</h4>
    </div>
  <!-- </div> -->
</div>
{% endif %}

{% endfor %}
{% endif %}
<!-- messages end here -->

<!-- Pending Account Acceptance Message -->
<!-- {% if company.user.profile.is_approved == False %}
<div class="row justify-content-center mt-3">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% trans "Your Account is Pending Approval</h5>
        <p class="card-text">
          {% trans "Reach out if you have any questions: help@cargoful.org
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %} -->
<!-- Pending Account Acceptance Message Ends -->


<style>
  #table tbody{
    height: 300px;
    overflow-y: auto;
  }
  #table thead th{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    color: black;
  }
</style>

<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <h3>{% trans "Past Orders" %}</h3>
  </div>
</div>

<div class="row justify-content-center pt-2">
  <div class="col-md-10">
    <p><b>{% trans "Total" %}: {{set.count}}</b></p>
  </div>
</div>

<div class="row justify-content-center pt-2" id = 'dashboard'>
<div class="col-md-10">
<div class="card">
<table class="table table-striped" id = 'table'>
  {% if set|length > 0 %}
  <thead>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <tr>
      <th scope = 'col'>{% trans "Order Number" %}</th>
      <th scope = 'col'>{% trans "Pickup Address" %}</th>
      <th scope = 'col'>{% trans "Delivery Address" %}</th>
      <th scope = 'col'>{% trans "Pickup Date" %}</th>
      <th scope = 'col'>{% trans "Distance" %}</th>
      <th scope = 'col'>{% trans "Contents" %}</th>
      <th scope = "col">{% trans "Trucking Company" %}</th>
      <th scope="col">{% trans "Price" %}</th>
    </tr>
  </thead>

  <tbody>
    {% for s in set %}
    <tr>
      <td>{{ s.customer_order_no }}</td>
      <td>{{ s.pickup_address}}</td>
      <td>{{ s.delivery_address }}</td>
      <td>{{ s.pickup_date }}</td>
      <td>{{ s.distance }} KM</td>
      <td>{{ s.contents }}</td>
      <td>{{ s.truck_company.user.profile.company_name }}</td>
      <td>{{ s.price }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <thead>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <tr>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <td align="center"><h4><b>{% trans "No Past Orders" %}</b></h4></td>
  </tbody>
  {% endif %}
</table>
</div>
</div>
</div>

{% endblock %}
