{% extends 'shipper/base.html'%}

{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<!-- this is for bootstrap popover as well as the information icon -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!--styling for load spinner -->
<style media="screen">
  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 4px;
    height: 4px;
    animation: spin 2s linear infinite;
    position: absolute;
    float: left;
  }
  .loader_text{
    text-indent: 1.5em;
  }

  input[type=checkbox] ~ div.reveal_after_check{
  display: none;
  }

  input[type=checkbox]:checked ~ div.reveal_after_check{
  display: block;
  }
</style>

<div class="container">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h3>{% trans "New Order" %}</h3>
    </div>
  </div>

    <form class = 'needs-validation' action = 'confirmation' method = "post"  autocomplete = "on" novalidate>
      {% csrf_token %}

      <div class="row justify-content-center mt-3">
        <div class="col-md-4">
          <h5>{% trans "Pick Up Address" %}</h5>
            <input class="form-control"
                   id="autocomplete"
                   name = "pu_addy"
                   onFocus="geolocate()"
                   type="text"
                   size = '40'
                   required/>
            <div class = "invalid-feedback">
                  {% trans "Please Choose a Pickup Address" %}
            </div>
        </div>

        <div class="col-md-4">
          <h5>{% trans "Delivery Address" %}</h5>
                <input class="form-control"
                       id="autocomplete2"
                       name = "del_addy"
                       onFocus="geolocate()"
                       type="text"
                       size = '40'
                       required/>
                <div class = "invalid-feedback">
                  {% trans "Please Choose a Delivery Address" %}
                </div>
        </div>
      </div>

      <!--hidden stuff -->
      <table id="address">
        <tr>
          <td class="label"></td>
          <td class="slimField"><input class="field" id="street_number" name = 'pickup_st_number' hidden = 'true' disabled="true"/></td>
          <td class="wideField" colspan="2"><input class="field" id="route" name = 'pickup_st_route' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="wideField" colspan="3"><input class="field" id="locality" name = 'pickup_city'  hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="slimField"><input class="field" id="administrative_area_level_1" name = 'pickup_state' hidden = 'true' disabled="true"/></td>
          <td class="label"></td>
          <td class="wideField"><input class="field" id="postal_code" name = 'pickup_zip' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="wideField" colspan="3"><input class="field" id="country" name = 'pickup_country' hidden = 'true' disabled="true"/></td>
        </tr>
      </table>

      <table id="address2">
        <tr>
          <td class="label"></td>
          <td class="slimField"><input class="field" id="street_number2" name = 'delivery_st_number' hidden = 'true' disabled="true"/></td>
          <td class="wideField" colspan="2"><input class="field" id="route2" name = 'delivery_st_route' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="wideField" colspan="3"><input class="field" id="locality2" name = 'delivery_city' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="slimField"><input class="field" id="administrative_area_level_12" name = 'delivery_state' hidden = 'true' disabled="true"/></td>
          <td class="label"></td>
          <td class="wideField"><input class="field" id="postal_code2" name = 'delivery_zip' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="wideField" colspan="3"><input class="field" id="country2" name = 'delivery_country' hidden = 'true' disabled="true"/></td>
        </tr>
      </table>
      <!-- end of hidden stuff -->

      <!-- rest of form -->
      <div class="row justify-content-center">
        <!-- checkbox to include date -->
        <div class = "col-4">
          <label for = "include_date">{% trans "Include Pickup Date" %}</label>
          <input type = "checkbox" name = "include_date" value = "include_date" id = "include_date">
          <!--what pops down if you check the box -->
          <div class="reveal_after_check">
            {{ form.pickup_date|as_crispy_field }}
            <div class = "invalid-feedback">
              {% trans "Please Choose a Pickup Date" %}
            </div>
          </div>
        </div>
        <!--checkbox to include a time -->
        <div class = "col-4">
          <label for = "include_time">{% trans "Include Pickup Time" %}</label>
          <input type = "checkbox" id = "include_time" name = "include_time" value = "include time">
          <!-- what comes down if you check the box -->
          <div class="reveal_after_check">
            {{ form.pickup_time|as_crispy_field }}
            <div class = "invalid-feedback">
              {% trans "Please Choose a Pickup Time" %}
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-4">
          {{ form.truck_type|as_crispy_field }}
          <div class = "invalid-feedback">
            {% trans "Please Choose a Truck Type" %}
          </div>
        </div>
        <div class="col-4">
          {{form.price|as_crispy_field }}
          <div class = "invalid-feedback">
            {% trans "Please Enter a Price" %}
          </div>
          <!-- loading spinner and info icon-->
          <div class="row">
            <div class="col">
              <div class="loader-block" id = id_loader_block>
                <div class="loader" id = "loader_spinner"></div>
                <div class="loader_text" id = "spinner_text" onclick = "popupToggle()">{% trans "Calculating Recommended Price..." %}
                </div>
              </div>
            </div>
            <div class="col-md-auto">
              <a tabindex="0" class="btn btn-sm btn-outline-primary py-0" role="button" data-toggle="popover" data-trigger="focus" style="font-size: 0.8em;"
              id = "id_info_button" title="{% trans 'Cargoful Price Recommendation' %}" data-content="{% trans 'Based on the truck type you selected as well as the distance of the trip, Cargoful suggests setting this price.' %}">
              <i class="fas fa-info-circle"></i>
            </a>
            </div>
          </div>
        </div>
      </div>


      <div class="row justify-content-center">
        <div class="col-4">
          {{ form.contents|as_crispy_field }}
          <div class = "invalid-feedback">
            {% trans "Please Specify Contents" %}
          </div>
        </div>
      <!-- </div> -->

      <!-- <div class="row justify-content-center"> -->
        <div class="col-4">
          {{ form.instructions|as_crispy_field }}
          <div class = "invalid-feedback">
            {% trans "If You Have No Specific Instructions, Put N/A" %}
          </div>
        </div>
      </div>
      <!-- recurrence and discount menus -->
      <!-- <div class="card">
                <h6 class="card-header text-center">
                Recurrence
                </h6>
                <div class="card-body px-lg-5 pt-0">
                  <div>
                    <div class="form-group row">
                      <div class="col-sm-4">Enable Recurrence?</div>
                      <div class="col-sm-8">
                        <div class="form-check">
                          <input name = "recurrence_indicator" class="form-check-input" type="checkbox" id="gridCheck1">
                          <label class="form-check-label" for="gridCheck1">
                            (check box to enable)
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body px-lg-5 pt-0" id = "recurrence_div" style = "display : none;">
                  <div id = "recurrence_form">
                    <div class="form-group row" style = " text-align: center;">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="recurrence_types" id="daily_recurrence" value="Daily">
                          <label class="form-check-label" for="daily_recurrence">Daily</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="recurrence_types" id="weekly_recurrence" value="Weekly" checked>
                          <label class="form-check-label" for="weekly_recurrence">Weekly</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="recurrence_types" id="monthly_recurrence" value="Monthly">
                          <label class="form-check-label" for="monthly_recurrence">Monthly</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="recurrence_types" id="yearly_recurrence" value="Yearly">
                          <label class="form-check-label" for="yearly_recurrence">Yearly</label>
                        </div>
                    </div>
                  </div>
                  <hr/>
                  <div id = "weeks_form">
                    <div class="col-sm-6">Recur every <input type = "number" name = "number_of_weeks" style = "width : 35px;"></input><span style="margin-left:10px;">week(s) on: </span></div>
                    <br>
                    <div class="form-group row">
                        <div class="form-check">
                          <input class="form-check-input" name = "mondayCheck" type="checkbox" id="dayCheck1">
                          <label class="form-check-label" for="dayCheck1">
                            Monday &emsp;
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" name = "tuesdayCheck" type="checkbox" id="dayCheck2">
                          <label class="form-check-label" for="dayCheck2">
                            Tuesday &emsp;
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" name = "wednesdayCheck" type="checkbox" id="dayCheck3">
                          <label class="form-check-label" for="dayCheck3">
                            Wednesday &emsp;
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" name = "thursdayCheck" type="checkbox" id="dayCheck4">
                          <label class="form-check-label" for="dayCheck4">
                            Thursday &emsp;
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" name = "fridayCheck" type="checkbox" id="dayCheck5">
                          <label class="form-check-label" for="dayCheck5">
                            Friday &emsp;
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" name = "saturdayCheck" type="checkbox" id="dayCheck6">
                          <label class="form-check-label" for="dayCheck6">
                            Saturday &emsp;
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" name = "sundayCheck" type="checkbox" id="dayCheck7">
                          <label class="form-check-label" for="dayCheck7">
                            Sunday &emsp;
                          </label>
                        </div>
                    </div>
                  </div>
                  <div id = "days_form" style = "display : none;">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="day_type_opts" id="day_type_opt1" value="option1" checked>
                      <label class="form-check-label" for="day_type_opt1">
                        Every
                      </label>
                      <input type = "number" name = "number_of_days" style = "width : 35px;"></input><span style="margin-left:10px;"> days </span>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="day_type_opts" id="day_type_opt2" value="option2">
                      <label class="form-check-label" for="day_type_opt2">
                        Every Workday
                      </label>
                    </div>
                  </div>
                  <div id = "months_form" style = "display : none;">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="month_opts" id="month_opt1" value="option1" checked>
                      <label class="form-check-label" for="month_opt1">
                        Repeat Every
                      </label>
                      <input type = "number" name = "number_of_months" style = "width : 35px;"></input><span style="margin-left:10px;"> month(s) </span> on day <input type = "number" name ="day_of_month" style = "width : 35px;"></input>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="month_opts" id="month_opt2" value="option2" checked>
                      <label class="form-check-label" for="month_opt2">
                        Repeat On the
                      </label>
                      <select id="exampleFormControlSelect1" name = "day_select_month" style = "width : 70px">
                        <option>1st</option>
                        <option>2nd</option>
                        <option>3rd</option>
                        <option>4th</option>
                      </select>
                      <select id="exampleFormControlSelect1" name = "weekday_select_month" style = "width : 110px">
                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                        <option>Sunday</option>
                      </select>
                      Every
                      <input type = "number" name = "number_of_months2" style = "width : 35px;"></input><span style="margin-left:10px;"> month(s) </span>
                    </div>
                  </div>
                  <div id = "years_form" style = "display : none">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="year_opts" id="year_opt1" value="option1" checked>
                      <label class="form-check-label" for="year_opt1">
                        Repeat Every
                      </label>
                      <input type = "number" name = "day_of_month_year" style = "width : 35px;"></input><span style="margin-left:10px;"> day of </span>
                      <select name = "month_select" id="exampleFormControlSelect1" style = "width : 110px">
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                      </select>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="year_opts" id="year_opt2" value="option2" checked>
                      <label class="form-check-label" for="year_opt2">
                        Repeat On the
                      </label>
                      <select name = "day_select_year" id="exampleFormControlSelect1" style = "width : 70px">
                        <option>1st</option>
                        <option>2nd</option>
                        <option>3rd</option>
                        <option>4th</option>
                      </select>
                      <select name = "weekday_select_year" id="exampleFormControlSelect1" style = "width : 110px">
                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                        <option>Sunday</option>
                      </select>
                      Of
                      <select name = "month_select2" id="exampleFormControlSelect1" style = "width : 110px">
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                      </select>
                    </div>
                  </div>
                  <hr/>
                  <div id = "recurrence_range">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Start Day</label>
                          <input name = "start_day" class="form-control" id="reccurence_range_start_day">
                        </div>
                        <div class="form-group col-md-6">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="end_opts" id="end_opt1" value="option1" checked>
                            <label class="form-check-label" for="end_opt1">
                              End by:
                            </label>
                            <input name = "end_by_day" class="form-control" id="reccurence_range_start_day" placeholder="End Day">
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="end_opts" id="end_opt2" value="option2">
                            <label class="form-check-label" for="end_opt2">
                              End after:
                            </label>
                            <input name = "occurrences" type = "number" style = "width : 35px;"></input><span style="margin-left:10px;">Occurrences</span>
                          </div>
                          <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="end_opts" id="end_opt3" value="option3">
                            <label class="form-check-label" for="end_opt3">
                              No end date
                            </label>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>


            <div class="card">
              <h6 class="card-header text-center">
                Bulk Discount
              </h6>
              <div class="card-body px-lg-5 pt-0">
                  <div class="form-group row">
                    <div class="col-sm-4">Add A Bulk Discount?</div>
                    <div class="col-sm-8">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="discountCheck">
                        <label class="form-check-label" for="discountCheck">
                          (check box to enable)
                        </label>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="card-body px-lg-5 pt-0" id = "discount_div" style = "display : none;">
                <div id = "discount_form">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="discount_opts" id="discount_opt1" value="option1" checked>
                    <label class="form-check-label" for="discount_opt1">
                      Add A Discount Of
                    </label>
                    <input type = "number" style = "width : 35px;"></input><span style="margin-left:10px;">% </span>
                  </div>
                </div>
              </div>
            </div> -->

      <!-- Buttons -->
      <div class="row justify-content-center mb-5">
        <div class="btn-group">
          <div class="col-5">
            <a href="/shipper" type="button" class="btn btn-danger" aria-pressed="true">{% trans "Cancel" %}</a>
          </div>
          <div class="col-5">
            <button type="submit" class="btn btn-success">{% trans "Post" %}</button>
          </div>
        </div>
      </div>

    </form>

  <!-- </div> -->
</div>

<!-- for dropdown calendar -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<script>
      $(function() {
        $( "#datepicker" ).datepicker({
                                      dateFormat: "yy-mm-d",
                                      minDate: 0,
                                      onSelect: function (selectedDate) {
                                        if (this.id == 'dateFrom') {
                                          var dateMin = $('#dateFrom').datepicker("getDate");
                                          var rMin = new Date(dateMin.getFullYear(), dateMin.getMonth(), dateMin.getDate() + 0);
                                          var rMax = new Date(dateMin.getFullYear(), dateMin.getMonth(), dateMin.getDate() + 120);
                                          $('#dateTo').datepicker("option", "minDate", rMin);
                                          $('#dateTo').datepicker("option", "maxDate", rMax);
                                        }
          }});
      });
</script>

<!-- for time picker -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script>
  $(document).ready(function(){
    $('#timepicker').timepicker({
      interval: 60,
      minHour: 8,
      maxHour: 23,
      defaultTime: '8'
    });
});
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>

<!-- for selecting addresses -->
<script>
// This sample uses the Autocomplete widget to help the user select a
// place, then it retrieves the address components associated with that
// place, and then it populates the form fields with those details.
// This sample requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script
// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">


var placeSearch, autocomplete, autocomplete2;

var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

var componentForm2 = {
  street_number2: 'short_name',
  route2: 'long_name',
  locality2: 'long_name',
  administrative_area_level_12: 'short_name',
  country2: 'long_name',
  postal_code2: 'short_name'
};
//This script gets the data from the address fields and sends it to the price calculation view
function fillInPrice(){
  console.log(document.getElementById('autocomplete').value);
  $("#id_loader_block").show();
  var puAddy = document.getElementById('autocomplete').value;
  var delAddy = document.getElementById('autocomplete2').value;
  console.log(puAddy);
  console.log(delAddy);
  var truck_type = document.getElementById('id_truck_type').value;

  $.ajax({
    url: 'ajax/ajax_price_calculation',
    data: {
      'puAddy': puAddy,
      'delAddy': delAddy,
      'truck_type':truck_type
    },
    dataType: 'json',
    success: function (data) {
      dist = data.distance;
      price = data.price;
      pu_state_name = data.pu_state_name;
      del_state_name = data.del_state_name;
      pu_coords = data.pu_city_coords;
      del_coords = data.del_city_coords;
      //del_lat,del_long = data.del_city_coords;
      console.log("pick up state is");
      console.log(pu_state_name);
      console.log("delivery state is:");
      console.log(del_state_name);
      document.getElementById('id_price').value = price;
      //$("#id_loader_block").hide();
      $("#loader_spinner").hide();
      document.getElementById('spinner_text').innerText = "{% trans 'Recommended Price (pesos): ' %}".concat(String(price))
      $("#id_info_button").show();
    }
  });
}

function initAutocomplete() {
  // Create the autocomplete object, restricting the search predictions to
  // geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'), {types: ['geocode']});

  autocomplete2 = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete2'), {types: ['geocode']});

  // Avoid paying for data that you don't need by restricting the set of
  // place fields that are returned to just the address components.
  autocomplete.setFields(['address_components']);
  autocomplete2.setFields(['address_components'])

  // When the user selects an address from the drop-down, populate the
  // address fields in the form.
  //autocomplete.addListener('place_changed', fillInAddress);
  //autocomplete2.addListener('place_changed', fillInAddress2);

  google.maps.event.addListener(autocomplete, 'place_changed', function() {
      fillInAddress();
    });
    google.maps.event.addListener(autocomplete2, 'place_changed', function() {
        fillInAddress2();
      });
}

function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details,
  // and then fill-in the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
  if (document.getElementById('id_truck_type').value.length > 0 &&
      document.getElementById('autocomplete2').value.length > 0){
    fillInPrice(); //if other required fields for price are populated, calculate price
    }
}

function fillInAddress2(){
  var place = autocomplete2.getPlace();

  for(var component in componentForm2){
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    //console.log(componentForm2[addressType.concat(2)])
    if (componentForm2[addressType.concat(2)]) {
      var val = place.address_components[i][componentForm2[addressType.concat(2)]];
      //console.log(val)
      document.getElementById(addressType.concat(2)).value = val;
    }
  }
  if (document.getElementById('autocomplete').value.length > 0 &&
      document.getElementById('id_truck_type').value.length > 0){
    fillInPrice(); //if other required fields for price are populated, calculate price
  }
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle(
          {center: geolocation, radius: position.coords.accuracy});
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKmjFt91GOvHaqyxpoiiqFQURjFST7U2I&libraries=places&callback=initAutocomplete"async defer>
  </script>

  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
  <!-- All the following scripts are for pricing algo -->
  <!-- onload hide loader and info icon -->
  <script>
    $( document ).ready(function() {
        $("#id_loader_block").hide();
        $("#id_info_button").hide();
    });
  </script>
  <!-- on change in the truck type field, send address data to view via ajax to calculate price -->
  <!-- (only executes if address fields are populated) -->
  <script>
      $("#id_truck_type").change(function () {
        if (document.getElementById('autocomplete').value.length > 0 &&
            document.getElementById('autocomplete2').value.length > 0){
          fillInPrice()
      }
      });
  </script>
  <!-- hide/show shit in recurrence menu--
  <script>
    $(function() {
      $('#gridCheck1').click(function() {
          if ($(this).is(':checked')) $('#recurrence_div').show();
          else                        $('#recurrence_div').hide();
      });
  });
  $(function() {
    $('#discountCheck').click(function() {
        if ($(this).is(':checked')) $('#discount_div').show();
        else                        $('#discount_div').hide();
    });
  });
  $(function() {
    $('#daily_recurrence').click(function() {
        if ($(this).is(':checked')) {$('#days_form').show(); $('#weeks_form').hide(); $('#months_form').hide(); $('#years_form').hide();}
        else                        $('#daily_recurrence').hide();
    });
  });
  $(function() {
    $('#weekly_recurrence').click(function() {
        if ($(this).is(':checked')) {$('#weeks_form').show(); $('#days_form').hide(); $('#months_form').hide(); $('#years_form').hide();}
        else                        $('#weekly_recurrence').hide();
    });
  });
  $(function() {
    $('#monthly_recurrence').click(function() {
        if ($(this).is(':checked')) {$('#months_form').show(); $('#days_form').hide(); $('#weeks_form').hide(); $('#years_form').hide();}
        else                        $('#monthly_recurrence').hide();
    });
  });
  $(function() {
    $('#yearly_recurrence').click(function() {
        if ($(this).is(':checked')) {$('#years_form').show(); $('#days_form').hide(); $('#weeks_form').hide(); $('#months_form').hide();}
        else                        $('#yearly_recurrence').hide();
    });
  });
  </script>
  <!-- for making values only required of box checked -->
  <script>
    var FormStuff = {

  init: function() {
    this.applyConditionalRequired();
    this.bindUIActions();
  },

  bindUIActions: function() {
    $("input[type='radio'], input[type='checkbox']").bind("change", this.applyConditionalRequired);
  },

  applyConditionalRequired: function() {

    $(".require-if-active").each(function() {
      var el = $(this);
      if ($(el.data("require-pair")).is(":checked")) {
        el.attr("required", true);
      } else {
        el.attr("required", false);
        el.value = "sherm stick";
        console.log(el.value);
      }
    });

  }

};

FormStuff.init();
  </script>

{% endblock %}
