{% extends 'shipper/base.html'%}

{% load crispy_forms_tags %}

{% block content %}
<!-- this is for bootstrap popover as well as the information icon -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!--styling for load spinner -->
<style media="screen">
  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 4px;
    height: 4px;
    animation: spin 2s linear infinite;
    position: absolute;
    float: left;
  }
  .loader_text{
    text-indent: 1.5em;
  }
</style>

<div class="container">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h1>New Order</h1>
    </div>
  </div>

    <form class = 'needs-validation' action = 'confirmation' method = "post"  autocomplete = "on" novalidate>
      {% csrf_token %}

      <div class="row justify-content-center mt-3">
        <div class="col-md-4">
          <h5>Pick Up Address</h5>
            <input class="form-control"
                   id="autocomplete"
                   name = "pu_addy"
                   onFocus="geolocate()"
                   type="text"
                   size = '40'
                   required/>
            <div class = "invalid-feedback">
                  Please Choose a Pickup Address
            </div>
        </div>

        <div class="col-md-4">
          <h5>Delivery Address</h5>
                <input class="form-control"
                       id="autocomplete2"
                       name = "del_addy"
                       onFocus="geolocate()"
                       type="text"
                       size = '40'
                       required/>
                <div class = "invalid-feedback">
                  Please Choose a Delivery Address
                </div>
        </div>
      </div>

      <table id="address">
        <tr>
          <td class="label"></td>
          <td class="slimField"><input class="field" id="street_number" name = 'pickup_st_number' hidden = 'true' disabled="true"/></td>
          <td class="wideField" colspan="2"><input class="field" id="route" name = 'pickup_st_route' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="wideField" colspan="3"><input class="field" id="locality" name = 'pickup_city'  hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="slimField"><input class="field" id="administrative_area_level_1" name = 'pickup_state' hidden = 'true' disabled="true"/></td>
          <td class="label"></td>
          <td class="wideField"><input class="field" id="postal_code" name = 'pickup_zip' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="wideField" colspan="3"><input class="field" id="country" name = 'pickup_country' hidden = 'true' disabled="true"/></td>
        </tr>
      </table>


      <table id="address2">
        <tr>
          <td class="label"></td>
          <td class="slimField"><input class="field" id="street_number2" name = 'delivery_st_number' hidden = 'true' disabled="true"/></td>
          <td class="wideField" colspan="2"><input class="field" id="route2" name = 'delivery_st_route' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="wideField" colspan="3"><input class="field" id="locality2" name = 'delivery_city' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="slimField"><input class="field" id="administrative_area_level_12" name = 'delivery_state' hidden = 'true' disabled="true"/></td>
          <td class="label"></td>
          <td class="wideField"><input class="field" id="postal_code2" name = 'delivery_zip' hidden = 'true' disabled="true"/></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="wideField" colspan="3"><input class="field" id="country2" name = 'delivery_country' hidden = 'true' disabled="true"/></td>
        </tr>
      </table>

      <!-- Form -->
      <div class="row justify-content-center">
        <div class="col-4">
          {{ form.pickup_date|as_crispy_field }}
          <div class = "invalid-feedback">
            Please Choose a Pickup Date
          </div>
        </div>
        <div class="col-4">
          {{ form.pickup_time|as_crispy_field }}
          <div class = "invalid-feedback">
            Please Choose a Pickup Time
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-4">
          {{ form.truck_type|as_crispy_field }}
          <div class = "invalid-feedback">
            Please Choose a Truck Type
          </div>
        </div>
        <div class="col-4">
          {{form.price|as_crispy_field }}
          <div class = "invalid-feedback">
            Please Enter a Price
          </div>
          <!-- loading spinner and info icon-->
          <div class="row">
            <div class="col">
              <div class="loader-block" id = id_loader_block>
                <div class="loader" id = "loader_spinner"></div>
                <div class="loader_text" id = "spinner_text" onclick = "popupToggle()">Calculating Recommended Price...
                </div>
              </div>
            </div>
            <div class="col-md-auto">
              <a tabindex="0" class="btn btn-sm btn-outline-primary py-0" role="button" data-toggle="popover" data-trigger="focus" style="font-size: 0.8em;"
              id = "id_info_button" title="CargoFul Price Recommendation" data-content="Based on the truck type you selected as well as the distance of the trip, CargoFul suggests setting this price.">
              <i class="fas fa-info-circle"></i>
            </a>
            </div>
          </div>
        </div>
      </div>


      <div class="row justify-content-center">
        <div class="col-4">
          {{ form.contents|as_crispy_field }}
          <div class = "invalid-feedback">
            Please Specify Contents
          </div>
        </div>
      <!-- </div> -->

      <!-- <div class="row justify-content-center"> -->
        <div class="col-4">
          {{ form.instructions|as_crispy_field }}
          <div class = "invalid-feedback">
            If You Have No Specific Instructions, Put N/A
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="row justify-content-center mb-5">
        <div class="btn-group">
          <div class="col-5">
            <a href="/shipper" type="button" class="btn btn-danger" aria-pressed="true">Cancel</a>
          </div>
          <div class="col-5">
            <button type="submit" class="btn btn-success">Post</button>
          </div>
        </div>
      </div>

    </form>

  <!-- </div> -->
</div>

<!-- for dropdown calendar -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<script>
      $(function() {
        $( "#datepicker" ).datepicker({
                                      dateFormat: "yy-mm-d",
                                      minDate: 0,
                                      onSelect: function (selectedDate) {
                                        if (this.id == 'dateFrom') {
                                          var dateMin = $('#dateFrom').datepicker("getDate");
                                          var rMin = new Date(dateMin.getFullYear(), dateMin.getMonth(), dateMin.getDate() + 0);
                                          var rMax = new Date(dateMin.getFullYear(), dateMin.getMonth(), dateMin.getDate() + 120);
                                          $('#dateTo').datepicker("option", "minDate", rMin);
                                          $('#dateTo').datepicker("option", "maxDate", rMax);
                                        }
          }});
      });
</script>

<!-- for time picker -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script>
  $(document).ready(function(){
    $('#timepicker').timepicker({
      interval: 60,
      minHour: 8,
      maxHour: 23,
      defaultTime: '8'
    });
});
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>

<!-- for selecting addresses -->
<script>
// This sample uses the Autocomplete widget to help the user select a
// place, then it retrieves the address components associated with that
// place, and then it populates the form fields with those details.
// This sample requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script
// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">


var placeSearch, autocomplete, autocomplete2;

var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

var componentForm2 = {
  street_number2: 'short_name',
  route2: 'long_name',
  locality2: 'long_name',
  administrative_area_level_12: 'short_name',
  country2: 'long_name',
  postal_code2: 'short_name'
};
//This script gets the data from the address fields and sends it to the price calculation view
function fillInPrice(){
  console.log(document.getElementById('autocomplete').value);
  $("#id_loader_block").show();
  var puAddy = document.getElementById('autocomplete').value;
  var delAddy = document.getElementById('autocomplete2').value;
  console.log(puAddy);
  console.log(delAddy);
  var truck_type = document.getElementById('id_truck_type').value;

  $.ajax({
    url: 'ajax/ajax_price_calculation',
    data: {
      'puAddy': puAddy,
      'delAddy': delAddy,
      'truck_type':truck_type
    },
    dataType: 'json',
    success: function (data) {
      dist = data.distance;
      price = data.price;
      pu_state_name = data.pu_state_name;
      del_state_name = data.del_state_name;
      pu_coords = data.pu_city_coords;
      del_coords = data.del_city_coords;
      //del_lat,del_long = data.del_city_coords;
      console.log("pick up state is");
      console.log(pu_state_name);
      console.log("delivery state is:");
      console.log(del_state_name);
      document.getElementById('id_price').value = price;
      //$("#id_loader_block").hide();
      $("#loader_spinner").hide();
      document.getElementById('spinner_text').innerText = "Recommended Price (pesos)"
      $("#id_info_button").show();
    }
  });
}

function initAutocomplete() {
  // Create the autocomplete object, restricting the search predictions to
  // geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'), {types: ['geocode']});

  autocomplete2 = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete2'), {types: ['geocode']});

  // Avoid paying for data that you don't need by restricting the set of
  // place fields that are returned to just the address components.
  autocomplete.setFields(['address_components']);
  autocomplete2.setFields(['address_components'])

  // When the user selects an address from the drop-down, populate the
  // address fields in the form.
  //autocomplete.addListener('place_changed', fillInAddress);
  //autocomplete2.addListener('place_changed', fillInAddress2);

  google.maps.event.addListener(autocomplete, 'place_changed', function() {
      fillInAddress();
    });
    google.maps.event.addListener(autocomplete2, 'place_changed', function() {
        fillInAddress2();
      });
}

function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details,
  // and then fill-in the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
  if (document.getElementById('id_truck_type').value.length > 0 &&
      document.getElementById('autocomplete2').value.length > 0){
    fillInPrice(); //if other required fields for price are populated, calculate price
    }
}

function fillInAddress2(){
  var place = autocomplete2.getPlace();

  for(var component in componentForm2){
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    //console.log(componentForm2[addressType.concat(2)])
    if (componentForm2[addressType.concat(2)]) {
      var val = place.address_components[i][componentForm2[addressType.concat(2)]];
      //console.log(val)
      document.getElementById(addressType.concat(2)).value = val;
    }
  }
  if (document.getElementById('autocomplete').value.length > 0 &&
      document.getElementById('id_truck_type').value.length > 0){
    fillInPrice(); //if other required fields for price are populated, calculate price
  }
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle(
          {center: geolocation, radius: position.coords.accuracy});
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKmjFt91GOvHaqyxpoiiqFQURjFST7U2I&libraries=places&callback=initAutocomplete"async defer>
  </script>

  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
  <!-- All the following scripts are for pricing algo -->
  <!-- onload hide loader and info icon -->
  <script>
    $( document ).ready(function() {
        $("#id_loader_block").hide();
        $("#id_info_button").hide();
    });
  </script>
  <!-- on change in the truck type field, send address data to view via ajax to calculate price -->
  <!-- (only executes if address fields are populated) -->
  <script>
      $("#id_truck_type").change(function () {
        if (document.getElementById('autocomplete').value.length > 0 &&
            document.getElementById('autocomplete2').value.length > 0){
          fillInPrice()
      }
      });
  </script>

{% endblock %}
