{% extends 'trucker/base.html'%}

{% block content%}
{% load static %}
{% load trucker_tags %}
{% load i18n %}

  <style media="screen">
      tr[data-href]{
          cursor: pointer;
      }

    table tbody{
      height: 300px;
      overflow-y: auto;
    }
    table thead th{
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 5;
      background-color: white;
      color: black;
    }
  </style>
  <div class="row justify-content-center mt-5">
    <div class="col-md-10">
      <h3>{% trans "Available Orders" %}</h3>
    </div>
  </div>
  <!--start of dashboard-->
  <div class="row justify-content-center pt-2" id = 'dashboard'>
    <div class="col-md-10">
    <div class="card">
    <table class="table table-striped">
      {% if available|length > 0 %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope='col'>{% trans "Order Number" %}</th>
          <th scope="col">{% trans "Shipping Company" %}</th>
          <th scope="col">{% trans "Pickup Address" %}</th>
          <th scope="col">{% trans "Delivery Address" %}</th>
          <th scope='col'>{% trans "Pickup Date" %}</th>
          <th scope='col'>{% trans "Pickup Time" %}</th>
          <th scope="col">{% trans "Distance" %}</th>
          <th scope="col">{% trans "Price" %}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for av in available %}
        <tr data-href="/trucker/accept_order/{{ av.id }}">
          <td>{{ av.customer_order_no }}</td>
          <td>{{ av.shipping_company.user.profile.company_name }}</td>
          <td>{{ av.pickup_address }}</td>
          <td>{{ av.delivery_address }}</td>
          {% if av.pickup_date is none %}<td>{% trans "Negotiable" %}</td>{% else %}<td>{{ av.pickup_date }}</td>{% endif %}
          {% if av.pickup_time is none %}<td>{% trans "Negotiable" %}</td>{% else %}<td>{{ av.pickup_time }}</td>{% endif %}
          <td>{{ av.distance }} KM</td>
          <td>{{ av.price }}</td>
          <td>
            <form action = "/trucker/accept_order" method = "post"> {% csrf_token %}
              <input id = "order_id" name = "order_id" type = "number" value = {{av.id}} hidden = "true"/>
              <button type = "submit" class = "btn btn-secondary">{% trans "Review" %}</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% else %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <td align = "center"><h4><b>{% trans "No Available Orders" %}</b></h4></td>
      </tbody>
      {% endif %}
    </table>
    </div>
  </div>
</div>


{% endblock%}
