{% load static %}

<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <title>CargoFul</title>

 <!-- Loading static files -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!-- Confirmation page boilerplate starts here -->
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
<style>
  body {
    margin: 0;
    padding: 0;
  }
  #map {
    height: 300px;
    width: 50%;
  }
  .marker {
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
</style>
<!-- Confirmation page boilerplate ends here -->

</head>
   <body class="c-app">
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="d-flex flex-grow-1">
             <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
             <a class="navbar-brand" href="/trucker">
               <img src="{% static 'imgs/CargoFulPigeon.png' %}" width="200" height="40" class="d-inline-block align-top">
             </a>
             <div class="d-flex flex-row-reverse text-right">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                     <span class="navbar-toggler-icon"></span>
                 </button>
             </div>
             <form class="form-inline" action = "/trucker/search_shippers" method = "POST">
               {% csrf_token %}
               <div class="form-group col-xs-5 col-lg-1">
                 <input class="form-control mr-sm-2" type="search" name = "query" placeholder="Search Shippers" aria-label="Search">
               </div>
               <input type = 'submit' style="display: none;">
             </form>
         </div>
         <div class="d-flex">
           <ul class="nav">
             <li class="nav-item">
               <a class="nav-link disabled" href="#" style = "color: white;">Hello, {{ request.user }}</a>
             </li>
             <li class="nav-item mr-3">
                 <a href="/trucker/" class="btn btn-secondary">My Jobs</a>
             </li>
             {% if me.user.profile.is_approved == True %}
             <li class="nav-item mr-3">
                 <a href="/trucker/available_orders" class="btn btn-secondary">Find Jobs</a>
             </li>
             <li class = 'nav-item mr-3'>
               <a href = "/trucker/connection_requests" class = "btn btn-secondary">My Connections</a>
             </li>
             <li class="nav-item mr-5">
                 <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
             </li>
          </ul>
         </div>
     </nav>

      {% block content%}
      {% endblock %}

   <!-- Popper.js first, then CoreUI JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>

   <!-- Footer -->
   <footer class="page-footer font-small navbar-dark bg-dark mt-4">

     <!-- Footer Links -->
     <div class="container text-center text-md-left">

       <!-- Footer links -->
       <div class="row text-center text-md-left mt-3 pb-3">

         <!-- Grid column -->
         <div class="col-md-2 mxr-auto mt-3">
           <h6 class="text-uppercase mb-4 font-weight-bold text-white">CargoFul</h6>
           <p class="text-white">Disrupting Mexican Logistics</p>
         </div>

         <!-- Grid column -->
         <hr class="w-100 clearfix d-md-none">

         <!-- Grid column -->
         <div class="col-md-2 ml-auto mt-3 text-white">
           <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
           <!-- <p class="text-white">
             <i class="fas fa-home mr-3"></i> Mexico City, Mexico</p> -->
           <p class="text-white">
             <i class="fas fa-envelope mr-3"></i> help@cargoful.org</p>
         </div>
         <!-- Grid column -->

       </div>

     </div>

   </footer>
   <!-- Footer -->

   </body>
</html>
