{% extends 'shipper/base.html'%}

{% block content %}
<div class="container">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h1>Confirm Order</h1>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div id='map'></div>
  </div>

  <form action = 'order_accepted' method = "post">
    {% csrf_token %}

    <div class="row justify-content-center">
      <div class="col-8">
        <h5>Pickup Address</h5>
        <input class = 'form-control' id = 'addy'  type = 'text' value = '{{order.pickup_address}}' size = '60' readonly>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8">
        <h5>Delivery Address</h5>
        <input class = 'form-control' id = 'addy'  type = 'text' value = '{{order.delivery_address}}' size = '60' readonly>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-4">
        <h5>Pickup Date</h5>
        <input class = 'form-control' id = 'date'  type="text" value = "{{order.pickup_date}}" size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>Pickup Time</h5>
        <input class = 'form-control' id = 'time'  type="text" value = "{{order.pickup_time}}" size = '60' readonly/>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-4">
        <h5>Truck Type</h5>
        <input class = 'form-control' id = 'truck_type'  type="text" value = "{{order.truck_type}}" size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>Price</h5>
        <input class = 'form-control' id = 'price'  type="number" step="0.01" value = {{order.price}} size = '60' readonly/>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-4">
        <h5>Contents</h5>
        <input class = 'form-control' id = 'contents' type="text" value = "{{order.contents}}" size = '60' readonly/>
      </div>
      <div class="col-4">
        <h5>Instructions</h5>
        <input class = 'form-control' id = 'instructions' type="text" value = "{{order.instructions}}" size = '60' readonly/>
      </div>
    </div>

      <!-- hidden value -->
    <input id = 'order_id' name = 'order_id' type = "number" value = {{order.id}} hidden = "true"/>

    <!-- accept or decline order -->
    <div class="row justify-content-center mb-5 mt-5">
      <div class="btn-group">
        <!-- cancel button -->
        <div class="col-5">
          <a href="/trucker" type="button" class="btn btn-danger" aria-pressed="true">Cancel</a>
        </div>
        <!-- confirm order button-->
        <div class="col-5">
          <button type="submit" class="btn btn-success">Accept</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicmZpdGNoIiwiYSI6ImNrN3dqdTYwYjAzNzUzZm85NXRreXo0bTcifQ.SNWvUpiNG9Q7EAQakLFsbw';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: [{{mid_long}}, {{mid_lat}}],
  zoom: 3
});

// code from the next step will go here!

var geojson = {
  type: 'FeatureCollection',
  features: [{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [{{order.pickup_longitude}}, {{order.pickup_latitude}}]
    },
    properties: {
      title: 'Pickup Location',
      description: '{{order.pickup_address}}'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [{{order.delivery_longitude}}, {{order.delivery_latitude}}]
    },
    properties: {
      title: 'Delivery Location',
      description: '{{order.delivery_address}}'
    }
  }]
};

// add markers to map
geojson.features.forEach(function(marker) {

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
    .addTo(map);
});
</script>

{% endblock %}
