{% extends 'trucker/base.html'%}

{% block content %}
<!--styling to make table overflow scroll -->
<style>
  table tbody{
    height: 300px;
    overflow-y: auto;
  }
  table thead th{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    color: black;
  }
</style>
<!-- messages end here -->

<!-- dash of connections -->
<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <h1>My Connections</h1>
  </div>
</div>

<!-- start of connections table -->
<div class="row justify-content-center pt-2" id = 'dashboard'>
  <div class="col-md-8">
    <div class="card">
    <table class="table table-striped">
      {% if connections|length > 0 %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope = 'col'>Company Name</th>
        </tr>
      </thead>
      <tbody>
        {% for c in connections %}
        <tr>
          <td>{{ c.profile.company_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% else %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope = 'col'></th>
        </tr>
      </thead>
      <tbody>
        <td align = "center"><h4><b>No Connections Yet</b></h4></td>
      </tbody>
      {% endif %}
    </table>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <h1>Connection Requests</h1>
  </div>
</div>
<!-- start of pending requests table -->
<div class="row justify-content-center pt-2" id = 'dashboard'>
  <div class="col-md-8">
    <div class="card">
    <table class="table table-striped">
      {% if requests|length > 0 %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope = 'col'>Company Name</th>
          <th scope = 'col'></th>
        </tr>
      </thead>
      <tbody>
        {% for r in requests %}
        <tr>
          <td>{{ r.from_user.profile.company_name }}</td>
          <td>
            <form action = 'accept_request' method = 'POST'>
              {% csrf_token %}
              <input type = 'number' name = 'request_id' value = {{r.id}} hidden = 'true'>
              <button type = 'submit' class = 'btn btn-success'>Accept</button>
              <button type = 'submit' formaction = 'deny_request' class = 'btn btn-danger'>Decline</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% else %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope = 'col'></th>
        </tr>
      </thead>
      <tbody>
        <td align = "center"><h4><b>No Pending Connections</b></h4></td>
      </tbody>
      {% endif %}
    </table>
    </div>
  </div>
</div>
{% endblock %}
