{% extends 'trucker/base.html'%}

{% block content %}
{% load trucker_tags %}
<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <h1>My Jobs</h1>
  </div>
</div>
<div class="row justify-content-center pt-2">
  <div class="col-md-8">
    <div class="card">
    <table class="table table-striped">
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope="col">Shipping Company</th>
          <th scope = 'col'> Pickup Adress </th>
          <th scope = 'col'> Delivery Address </th>
          <th scope = 'col'> Status </th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>

        {% for my in my_orders %}
        <tr>
          <th scope="row">{{ my.shipping_company.user.profile.company_name }}</th>
          <td>{{ my|reverse_geo_pickup }}</td>
          <td>{{ my|reverse_geo_delivery }}</td>
          <td>
            {% if my.status == 1 %}
            <form action = 'update_status' method = 'post'>{% csrf_token %}
                <select id = 'status' name="status">
              		<option value='1'>Booked</option>
              		<option value="2">In Transit</option>
              		<option value="3">Delivered</option>
            		</select>
                <input type = 'number' id = 'order_id' name = 'order_id' value = {{my.id}} hidden = 'true'>
                <input type = 'submit' value = 'Update Status'>
            </form>
            {% elif my.status == 2 %}
            <form action = 'update_status' method = 'post'>{% csrf_token %}
                <select id = 'status' name="status">
              		<option value="2">In Transit</option>
              		<option value="3">Delivered</option>
            		</select>
                <input type = 'number' id = 'order_id' name = 'order_id' value = {{my.id}} hidden = 'true'>
                <input type = 'submit' value = 'Update Status'>
            </form>
            {% elif my.status == 3 %}
            <form action = 'update_status' method = 'post'>{% csrf_token %}
                <select id = 'status' name="status">
              		<option value="3">Delivered</option>
            		</select>
                <input type = 'number' id = 'order_id' name = 'order_id' value = {{my.id}} hidden = 'true'>
                <input type = 'submit' value = 'Update Status'>
            </form>
            {% endif %}
          </td>
          <td>{{ my.price }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    </div>
  </div>
</div>

<script>
  var geocoder = new google.maps.Geocoder;

      function geocodeLatLng(geocoder) {
        var input = document.getElementById('latlng').value;
        var latlngStr = input.split(',', 2);
        var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
        geocoder.geocode({'location': latlng}, function(results, status) {
          if (status === 'OK') {
            if (results[0]) {
              map.setZoom(11);
              var marker = new google.maps.Marker({
                position: latlng,
                map: map
              });
              infowindow.setContent(results[0].formatted_address);
              infowindow.open(map, marker);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>

{% endblock %}
