{% extends 'trucker/base.html'%}

{% block content %}
{% load trucker_tags %}

<!-- Welcome and Successful order messages -->
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <div class="col-md-8">
    <h4>{{ message }}</h4>
  </div>
</div>
{% endif %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <div class="col-md-8">
    <h4>{{ message }}</h4>
  </div>
</div>
{% endif %}

{% endfor %}
{% endif %}

<!-- Pending Account Acceptance Message -->
{% if me.user.profile.is_approved == False %}
<div class="row justify-content-center mt-3">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your Account is Pending Approval</h5>
        <p class="card-text">
          Reach out if you have any questions: help@cargoful.org
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- Pending Account Acceptance Message Ends -->


<!--styling to make table overflow scroll -->
<style>

  table tbody{
    height: 300px;
    overflow-y: auto;
  }
  table thead th{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    color: black;
  }
</style>
<!-- messages end here -->
<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <h1>My Jobs</h1>
  </div>
</div>
<!-- start of table -->
<div class="row justify-content-center pt-2" id = 'dashboard'>
  <div class="col-md-10">
    <div class="card">
    <table class="table table-striped">
      {% if my_orders|length > 0 %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope = 'col'>Order Number</th>
          <th scope="col">Shipping Company</th>
          <th scope = 'col'>Pickup Adress</th>
          <th scope = 'col'>Delivery Address</th>
          <th scope = 'col'>Distance</th>
          <th scope = 'col'>Pickup Date</th>
          <th scope = 'col'>Pickup Time</th>
          <th scope = 'col'>Status</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for my in my_orders %}
        <tr>
          <td>{{ my.customer_order_no }}</td>
          <td>{{ my.shipping_company.user.profile.company_name }}</td>
          <td>{{ my.pickup_address }}</td>
          <td>{{ my.delivery_address }}</td>
          <td>{{ my.distance }} KM</td>
          <td>{{ my.pickup_date }}</td>
          <td>{{ my.pickup_time }}</td>
          <td>
            {% if my.status == 1 %}
            <form action = 'update_status' method = 'post'>{% csrf_token %}
              <div class = 'form-group'>
                <select class = 'custom-select custom-select-sm' style = "width:auto;" id = 'status' name="status">
              		<option value='1' selected>Booked</option>
              		<option value="2">In Transit</option>
              		<option value="3">Delivered</option>
            		</select>
              </div>
                <input type = 'number' id = 'order_id' name = 'order_id' value = {{my.id}} hidden = 'true'>
                <div class="row justify-content-center">
                  <div class="btn-group" role="group">
                      <button type="submit" class="btn btn-secondary mt-1">Update</button>
                  </div>
                </div>
            </form>
            {% elif my.status == 2 %}
            <form action = 'update_status' method = 'post'>{% csrf_token %}
              <div class = 'form-group'>
                <select class = 'custom-select custom-select-sm' style = "width:auto;" id = 'status' name="status">
                	<option value="2" selected>In Transit</option>
                	<option value="3">Delivered</option>
              	</select>
              </div>
                <input type = 'number' id = 'order_id' name = 'order_id' value = {{my.id}} hidden = 'true'>
                <div class="row justify-content-center">
                  <div class="btn-group" role="group">
                      <button type="submit" class="btn btn-secondary mt-1">Update</button>
                  </div>
                </div>
            </form>
            {% elif my.status == 3 %}
            <form action = 'update_status' method = 'post'>{% csrf_token %}
              <div class = 'form-group'>
                <select class = 'custom-select custom-select-sm' style = "width:auto;" id = 'status' name="status">
              		<option value="3" selected>Delivered</option>
            		</select>
              </div>
                <input type = 'number' id = 'order_id' name = 'order_id' value = {{my.id}} hidden = 'true'>
                <div class="row justify-content-center">
                  <div class="btn-group" role="group">
                      <button type="submit" class="btn btn-secondary mt-1">Update</button>
                  </div>
                </div>
            </form>
            {% endif %}
          </td>
          <td>{{ my.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <!-- if they have no orders siplay the empty table -->
      {% else %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope = 'col'></th>
        </tr>
      </thead>
      <tbody>
        <td align = "center"><h4><b>You Have No Jobs Yet</b></h4></td>
      </tbody>
      {% endif %}
    </table>
    </div>
  </div>
</div>

{% endblock %}
