{% extends 'trucker/base.html'%}
{% load trucker_tags %}
{% load i18n %}

{% block content %}
<!-- Welcome and Successful order messages -->
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <div class="col-md-8">
    <h4>{{ message }}</h4>
  </div>
</div>
{% endif %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <div class="col-md-8">
    <h4>{{ message }}</h4>
  </div>
</div>
{% endif %}

{% endfor %}
{% endif %}


<!--styling to make table overflow scroll -->
<style>

  table tbody{
    height: 300px;
    overflow-y: auto;
  }
  table thead th{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    color: black;
  }
</style>
<!-- messages end here -->
<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <h1>{% trans "Past Jobs" %}</h1>
  </div>
</div>
<!-- start of table -->
<div class="row justify-content-center pt-2" id = 'dashboard'>
  <div class="col-md-10">
    <div class="card">
    <table class="table table-striped">
      {% if set|length > 0 %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope = 'col'>{% trans "Order Number" %}</th>
          <th scope="col">{% trans "Shipping Company" %}</th>
          <th scope = 'col'>{% trans "Pickup Address" %}</th>
          <th scope = 'col'>{% trans "Delivery Address" %}</th>
          <th scope = 'col'>{% trans "Distance" %}</th>
          <th scope = 'col'>{% trans "Pickup Date" %}</th>
          <th scope = 'col'>{% trans "Pickup Time" %}</th>
          <th scope="col">{% trans "Price" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for my in set %}
        <tr>
          <td>{{ my.customer_order_no }}</td>
          <td>{{ my.shipping_company.user.profile.company_name }}</td>
          <td>{{ my.pickup_address }}</td>
          <td>{{ my.delivery_address }}</td>
          <td>{{ my.distance }} KM</td>
          <td>{{ my.pickup_date }}</td>
          <td>{{ my.pickup_time }}</td>
          <td>{{ my.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <!-- if they have no orders siplay the empty table -->
      {% else %}
      <thead>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <tr>
          <th scope = 'col'></th>
        </tr>
      </thead>
      <tbody>
        <td align = "center"><h4><b>{% trans "No Past Jobs" %}</b></h4></td>
      </tbody>
      {% endif %}
    </table>
    </div>
  </div>
</div>

{% endblock %}
