{% extends 'trucker/base.html'%}
{% load static %}
{% load i18n %}
{% block content %}
<!--styling to make table overflow scroll -->
<style>
  table tbody{
    height: 300px;
    overflow-y: auto;
  }
  table thead th{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    color: black;
  }

</style>
<!-- messages end here -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Corporate Card Starts -->
<form method = "post" enctype = "multipart/form-data">
  {% csrf_token %}
  <div class="row justify-content-center pt-2">
      <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">{% trans "Corporate Documents" %}</h5>

          <p class="card-text">{% trans "Please upload the following documents so we can verify your account. You can upload them at separate times." %}</p>

          {% if docs|length > 0 %}
          <a href = "/trucker/download_my_docs" type = "button" class = "btn btn-link">{% trans "Download my Documents" %}</a>
          {% endif %}

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
            </li>

            {% if me.company_type == 'Persona Moral' %}
            <li class="list-group-item">
              <h7><b>Acta Constitutiva</b></h7>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" name = "Acta_Constitutiva" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile01">{% if "Acta_Constitutiva" in docs %} Cambiar Archivo {% else %} Escoger Archivo {% endif %}</label>
                </div>
                {% if "Acta_Constitutiva" in docs %}
                <h7 style = "color:green;">{% trans "Uploaded " %}<img src="{% static 'imgs/green_check.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% else %}
                <h7 style = "color:red;">{% trans "Missing " %}<img src="{% static 'imgs/red_x.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% endif %}
              </div>
            </li>
            {% endif %}

            <li class="list-group-item">
              <h7><b>Constancia de Situación Fiscal de la SHCP</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "Constancia_SHCP" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile01">{% if "Constancia_SHCP" in docs %} Cambiar Archivo {% else %} Escoger Archivo {% endif %}</label>
                </div>
                {% if "Constancia_SHCP" in docs %}
                <h7 style = "color:green;">{% trans "Uploaded " %}<img src="{% static 'imgs/green_check.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% else %}
                <h7 style = "color:red;">{% trans "Missing " %}<img src="{% static 'imgs/red_x.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% endif %}
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Comprobante de Domicilio</b></h7>
              <div class="input-group mb-3 mt-2">
                <!-- <div class="input-group-prepend">
                  <button type="submit" class="btn btn-outline-secondary">{% trans "Upload" %}</button>
                </div> -->
                <div class="custom-file">
                  <input type="file" name = "Comprobante_Domicilio" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile01">{% if "Comprobante_Domicilio" in docs %} Cambiar Archivo {% else %} Escoger Archivo {% endif %}</label>
                </div>
                {% if "Comprobante_Domicilio" in docs %}
                <h7 style = "color:green;">{% trans "Uploaded " %}<img src="{% static 'imgs/green_check.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% else %}
                <h7 style = "color:red;">{% trans "Missing " %}<img src="{% static 'imgs/red_x.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% endif %}
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Estado de Cuenta Bancaria</b></h7>
              <div class="input-group mb-3 mt-2">
                <!-- <div class="input-group-prepend">
                  <button type="submit" class="btn btn-outline-secondary">{% trans "Upload" %}</button>
                </div> -->
                <div class="custom-file">
                  <input type="file" name = "Estado_Bancaria" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile01">{% if "Estado_Bancaria" in docs %} Cambiar Archivo {% else %} Escoger Archivo {% endif %}</label>
                </div>
                {% if "Estado_Bancaria" in docs %}
                <h7 style = "color:green;">{% trans "Uploaded " %}<img src="{% static 'imgs/green_check.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% else %}
                <h7 style = "color:red;">{% trans "Missing " %}<img src="{% static 'imgs/red_x.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% endif %}
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>INE</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "INE" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile01">{% if "INE" in docs %} Cambiar Archivo {% else %} Escoger Archivo {% endif %}</label>
                </div>
                {% if "INE" in docs %}
                <h7 style = "color:green;">{% trans "Uploaded " %}<img src="{% static 'imgs/green_check.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% else %}
                <h7 style = "color:red;">{% trans "Missing " %}<img src="{% static 'imgs/red_x.png' %}" alt="" border=3 height=15 width=15></img></h7>
                {% endif %}
              </div>
            </li>
          </ul>

          <div class = "row justify-content-center mt-5">
            <button type = "submit" class = "btn btn-secondary" id = "submit">{% trans "Upload Files" %}</button>
          </div>

      </div>
    </div>
  </div>
</form>
<!-- Corporate Documents Card Ends-->



<!-- New Unit Card -->
<form method = "post" action = "new_unit" enctype = "multipart/form-data">
  {% csrf_token %}
  <div class="row justify-content-center pt-2">
      <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">{% trans "New Unit" %}</h5>

          <p class="card-text">{% trans "Please upload the following documents to register a new unit" %}</p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
            </li>

            <li class="list-group-item">
              <h7><b>Tarjeta de Circulación de Tractocamion</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "Tarjtea_de_circulación" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Tarjeta de Caja (para las que apliquen)</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "Tarjeta_de_caja" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Fotografía del Placas Visibles de Tractocamión</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "placas_visibles" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Fotografía del Frente de Tractocamión</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "frente" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Fotografía del Costado izquierdo del Tractocamión</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "costado_izquierdo" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Fotografía del Costado derecho del Tractocamión</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "costado_derecho" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Fotografía del Posterior de Caja (para las que apliquen)</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "posterior_de_caja" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Fotografía del Interior de Caja (para las que apliquen)</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "interior_de_caja" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Poliza de Seguro</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "Poliza_de_Seguro" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <h7><b>Especificaciones de servicio del proveedor de GPS</b></h7>
              <div class="input-group mb-3 mt-2">
                <div class="custom-file">
                  <input type="file" name = "GPS" class="custom-file-input" id="inputGroupFile02" required>
                  <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                </div>
              </div>
            </li>

            <input type = "text" name = 'truck' value = "truck" hidden = "true" readonly/>

          </ul>

          <div class = "row justify-content-center mt-5">
            <button type = "submit" class = "btn btn-secondary" id = "submit">{% trans "Upload Files" %}</button>
          </div>

        </div>
      </div>
    </div>
  </form>
  <!-- New Unit Card Ends -->

<!-- New Driver Card Ends -->
<form method = "post" action = "new_unit" enctype = "multipart/form-data">
  {% csrf_token %}
  <div class="row justify-content-center pt-2">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">{% trans "New Driver" %}</h5>

        <p class="card-text">{% trans "Please upload the following documents to register a new unit" %}</p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
          </li>

          <li class="list-group-item">
            <h7><b>Licencia</b></h7>
            <div class="input-group mb-3 mt-2">
              <div class="custom-file">
                <input type="file" name = "Licencia" class="custom-file-input" id="inputGroupFile02" required>
                <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <h7><b>Comprobante de Domicilio</b></h7>
            <div class="input-group mb-3 mt-2">
              <div class="custom-file">
                <input type="file" name = "Comprobante_Domicilio" class="custom-file-input" id="inputGroupFile02" required>
                <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <h7><b>Certificaciones de Terceros (si aplica)</b></h7>
            <div class="input-group mb-3 mt-2">
              <div class="custom-file">
                <input type="file" name = "Certificaciones_Terceros" class="custom-file-input" id="inputGroupFile02" required>
                <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <h7><b>INE</b></h7>
            <div class="input-group mb-3 mt-2">
              <div class="custom-file">
                <input type="file" name = "INE" class="custom-file-input" id="inputGroupFile02" required>
                <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
              </div>
            </div>
          </li>

          <input type = "text" name = 'driver' value = "driver" hidden = "true" readonly/>
        </ul>

        <div class = "row justify-content-center mt-5">
          <button type = "submit" class = "btn btn-secondary" id = "submit">{% trans "Upload Files" %}</button>
        </div>
      </div>
    </div>
  </div>

</form>
<!-- New Driver Card Ends -->

<script type="application/javascript">
  $('.custom-file-input').on('change',function(){
      //get the file name
      var fileName = $(this)[0].files[0].name;
      //replace the "Choose a file" label
      $(this).next('.custom-file-label').html(fileName);
  })
</script>
{% endblock %}
