.navbar-brand {
  padding: 0;
}

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

.main-container{
  width: 100%;
}

h1{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

.btn-secondary {
  background-color: #E4007D !important;
  border: none !important;
}
