{% extends 'cf_admin/base.html'%}

{% block content %}

<!-- Welcome and Successful order messages -->
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <div class="col-md-8">
    <h4>{{ message }}</h4>
  </div>
</div>
{% endif %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
  <div class="col-md-8">
    <h4>{{ message }}</h4>
  </div>
</div>
{% endif %}

{% endfor %}
{% endif %}

<style>
  #table tbody{
    height: 300px;
    overflow-y: auto;
  }
  #table thead th{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    color: black;
  }
</style>

<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <h2>CargoFul Admin</h2>
  </div>
</div>

<!-- New Users Dashboard Starts-->
<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <h4>New Users</h4>
  </div>
</div>

<div class="row justify-content-center pt-2" id = 'new_shipper_dashboard'>
<div class="col-md-10">
<div class="card">
<table class="table table-striped" id = 'table'>
  <thead>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <tr>
      <th scope = 'col'>User Type</th>
      <th scope = 'col'>Company Name</th>
      <th scope = 'col'>Email</th>
    </tr>
  </thead>

  <tbody>
    {% for u in users %}
    <tr>
      <td>{{ u.user_type }}</td>
      <td>{{ u.company_name }}</td>
      <td>{{ u.user.email}}</td>
      <td>
        <form action = "/cf_admin/approve_user" method = "post"> {% csrf_token %}
          <input id="profile_id" name="profile_id" type="number" value="{{s.id}}" hidden="true"/>
          <button type = "submit" class = "btn btn-secondary">Approve</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
<!-- New User Dashboard Ends -->


<!-- New Orders Dashboard Starts -->
<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <h4>New Orders</h4>
  </div>
</div>

<div class="row justify-content-center pt-2" id = 'new_trucker_dashboard'>
<div class="col-md-10">
<div class="card">
<table class="table table-striped" id = 'table'>
  <thead>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <tr>
      <th scope = 'col'>Order Number</th>
      <th scope = 'col'>Company Name</th>
      <th scope = 'col'>Email</th>
      <th scope = 'col'>Pickup Date</th>
      <th scope = 'col'>Pickup Address</th>
      <th scope = 'col'>Delivery Address</th>
      <th scope = 'col'>Contents</th>
      <th scope="col">Price</th>

    </tr>
  </thead>

  <tbody>
    {% for o in orders %}
    <tr>
      <td>{{ o.customer_order_no }}</td>
      <td>{{ o.shipping_company.user.profile.company_name }}</td>
      <td>{{ o.shipping_company.user.email}}</td>
      <td>{{ o.pickup_date }}</td>
      <td>{{ o.pickup_address}}</td>
      <td>{{ o.delivery_address }}</td>
      <td>{{ o.contents }}</td>
      <td>{{ o.price }}</td>
      <td>
        <form action = "/cf_admin/approve_order" method = "post"> {% csrf_token %}
          <input id = "order_id" name = "order_id" type = "number" value = {{o.id}} hidden = "true"/>
          <button type = "submit" class = "btn btn-secondary">Review</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
<!-- New Orders Dashboard Ends -->

{% endblock %}
